.resume{
    background-color: white;
    height:1180px;
}
.education{
    display: flex;
}

.education__title{
    padding: 20px;
    margin-left:150px;
    flex:0.2;
    
}
.education__title > h2{
    margin-top: 30px;
    position: relative;
    top:15px;
}
.education__title >h1{
    border-bottom: 1px solid #11ABB0;
    width: 110px;
    border-width: 3px;
}
.education__details{
    margin-top: 40px;
    flex:0.8;
}
.education__details >h1{
    font-weight: 600;
}
.education__details >p{
color: #6E7881;
}
